nav {
    background-color: lightgrey; /* Set the background color of the navigation bar */
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: grey;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
  }